body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  background-color: #f0f8ff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f3ba2f;
  border: none;
  border-radius: 8px;
  color: black;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d9a520;
}

#userAddress {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

#userAddress:hover {
  color: darkblue;
}
